@use "/src/assets/sass/variables" as *;

.employee__cards {
    display: grid;
    grid-template-columns: repeat(5, minmax(10px, 1fr));
    grid-template-rows: repeat(2, minmax(10px, 1fr));
    column-gap: 3rem;
    row-gap: 3rem;
    .employee__tile {
        opacity: 50%;
        border: 3px solid lightgrey;
        border-radius: 10px;
        display: block;
        height: 46.5vh;
        width: 17vw;
        .employee__image {
            opacity: 75%;
            position: absolute;
            height: 46.5vh;
            width: 16vw;
        }
        .employee__text {
            color: $color-secondary;
            position: relative;
            z-index: 1;
            margin: 4rem 0rem;
            text-align: center;
        }
    }
}

.employee__tile:hover {
    opacity: 100%;
    .employee__image {
        opacity: 75%;
    }
}
