@use "./assets/sass/_variables.scss" as *;


@font-face {
    font-family: "Cabello_Sans";
    src: url("./Fonts/Cabello_Sans.ttf") format("truetype");
}
@font-face {
    font-family: "Cabello";
    src: url("./Fonts/Cabello.ttf") format("truetype");
}

.App {
    height: 100vh;
    width: 100%;
    border: 5px solid $color-black;
    .Container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
    }
};